[package]
name = "oma-contents"
version = "0.7.4"
edition = "2021"
description = "oma (oma) contents tool to help oma handle apt database contents"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = { version = "1.8", optional = true }
chrono = "0.4"
strsim = "0.11"
thiserror = "1.0"
winnow = "0.6"
flate2 = { version = "1.0", default-features = false, features = ["zlib"], optional = true }
rayon = { version = "1.8", optional = true }
lzzzz = { version = "1.0", optional = true }
tracing = "0.1"

[dev-dependencies]
indicatif = "0.17"
oma-utils = { path = "../oma-utils", features = ["dpkg"] }

[features]
aosc = []
default = ["aosc", "dep:regex"]
no-rg-binary = ["dep:flate2", "dep:rayon", "dep:lzzzz"]
