[package]
name = "oma-contents"
version = "0.2.0"
edition = "2021"
description = "Omakase (oma) contents tool to help oma handle apt database contents"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = { version = "1.8", optional = true }
chrono = "0.4"
which = { version = "4.4", optional = true }
strsim = "0.10"
thiserror = "1.0"
winnow = "0.5"
flate2 = { version = "1.0.17", default-features = false, features = ["zlib"], optional = true }
rayon = { version = "1.8", optional = true }
lzzzz = { version = "1.0", optional = true }

[dev-dependencies]
indicatif = "0.17"
oma-utils = { path = "../oma-utils", features = ["dpkg"]}

[features]
aosc = []
default = ["aosc", "dep:regex", "dep:which"]
no-rg-binary = ["dep:flate2", "dep:rayon", "dep:lzzzz"]
