[package]
name = "oma-refresh"
version = "0.12.10+sequoia-header-fix"
edition = "2021"
description = "A crate to help oma refresh apt repo database"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
oma-fetch = { version = "^0.8.0", path = "../oma-fetch", default_features = false }
thiserror = "1.0"
serde = { version = "1.0", features = ["derive"] }
url = "2.3"
tokio = { version = "1.28", default_features = false, features = ["fs"] }
serde_yaml = "0.9"
once_cell = "1.18"
futures = "0.3"
oma-apt-sources-lists = "0.2"
oma-debcontrol = "0.3"
sequoia-openpgp = { git = "https://gitlab.com/sequoia-pgp/sequoia", rev = "f21016f51ca9f71d519bce5215394d5dadd63df7", default-features = false }
anyhow = "1.0"
chrono = { version = "0.4", features = ["unstable-locales"] }
oma-topics = { version = "^0.8.0", path = "../oma-topics", optional = true, default-features = false }
oma-utils = { version = "^0.7.0", path = "../oma-utils", features = ["dpkg"] }
derive_builder = "0.20"
tracing ="0.1"
smallvec = "1.1"
small-map = "0.1"

[features]
aosc = ["dep:oma-topics"]
sequoia-openssl-backend = ["sequoia-openpgp/crypto-openssl"]
sequoia-nettle-backend = ["sequoia-openpgp/crypto-nettle"]
rustls = ["oma-fetch/rustls", "oma-topics/rustls"]
native-tls = ["oma-fetch/native-tls", "oma-topics/native-tls"]
default = ["aosc", "sequoia-nettle-backend", "rustls"]

[dev-dependencies]
tokio = { version = "1.28", default_features = false, features = ["macros", "rt-multi-thread"] }
indicatif = "0.17"
dashmap = "5.5"
oma-console = { path = "../oma-console" }
