[package]
name = "oma-fetch"
version = "0.10.0"
edition = "2021"
description = "A downloader to help oma download something"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "1.0"
reqwest = { version = "0.12", default-features = false, features = ["stream"] }
tokio = { version = "1.28", default-features = false, features = ["fs"] }
serde = { version = "1.0", features = ["derive"] }
hex = "0.4"
sha2 = "0.10"
futures = "0.3"
derive_builder = "0.20"
async-compression = { version = "0.4", features = ["gzip", "xz", "futures-io", "bzip2"] }
oma-utils = { version = "^0.7", features = ["url-no-escape"] }
tracing = "0.1"
tokio-util = { version = "0.7", features = ["compat"] }

[dev-dependencies]
tokio = { version = "1.28", default-features = false, features = ["macros", "rt-multi-thread"] }
indicatif = "0.17"
dashmap = "5.5"
oma-console = { path = "../oma-console" }

[features]
rustls = ["reqwest/rustls-tls"]
native-tls = ["reqwest/native-tls"]
default = ["rustls"]
